.mw-tiket {
    max-width: 1110px!important;
}

.mw-maxcontent {
    width:fit-content;
}

.font-tiket-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 165%;
}

.w-40 {
    width: 40%;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}